<style>
  #tracktorContainer {
      margin: 0 auto;
      width: 100%;
      max-width:1200px
  }
  #tracktorOrderForm {
      text-align: center;
  }
  #tracktor section{
    float: left;
    width: 100%;
  }
  #tracktorResponseContainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-bottom: 75px;
  }
  #tracktorOrderForm input {
    display: inline-block;
    min-width: 250px;
    max-width: 450px;
  }
  #tracktor.themeLight #tracktorOrderDetails, #tracktor.themeLight .tracktorFulfillmentCol2 label {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  #tracktorOrderDetails {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 20px;
    text-align: center;
    margin-top: 40px;
  }
</style>

<div id="tracktorContainer">
  <div id="tracktorOrderForm">
      <h1><span>Track Your Order</span></h1>
      <div class="field"><label for="tracktorOrderName"><span>Order Number</span></label><input required="" aria-required="true" id="tracktorOrderName" type="text" name="order"></div>
      <div class="field"><label for="tracktorOrderEmail"><span>Email</span></label><input required="" aria-required="true" id="tracktorOrderEmail" type="text" name="userEmail"></div>
      <button id="tracktorTrack" class="button-enter btn styled-submit button"><span>Track</span></button>
  </div>
  <section id="tracktorResponseContainer"><section id="tracktorOrderDetails" class="header-inactive"<h1>Could not find order</h1></section></section>
</div>
<script type="text/javascript">
         window.addEventListener('DOMContentLoaded',function(){
            var $btn =  $("#tracktorTrack");
             console.log('提交2');
            $btn.on("click",function(){
                var order = $("#tracktorOrderName").val(); 
                var email = $("#tracktorOrderEmail").val(); 
              console.log('提交1');
                if(order!=='' && email!==''){
                  console.log('提交');
                  var testUrl = "/apps/tracktor/order.json?order="+order+"&email="+email+"&uuid=solado-official";
                  $.ajax({
                   type: "GET",
                   url: testUrl,
                    beforeSend:function(){
                      $("#tracktorResponseContainer").html('<section id="tracktorOrderDetails" class="header-inactive"> <span id="tracktorLoader" class="tracktorLoader"><span id="tracktorLoader1"><span>Tracking Packages</span></span></span></section>');
                    },
                   success: function(data){
                      if(data.status===200){
                          var orderEncode = encodeURIComponent(order);
                          var emailEncode = encodeURIComponent(email.replace('@','_-_').split('').reverse().join(''));
                          var jumpUrl = "/apps/tracktor/track?order="+orderEncode+"&token="+emailEncode;
                          location.href =jumpUrl;
                      }else{
                       $("#tracktorResponseContainer").html('<section id="tracktorOrderDetails" class="header-inactive"> <h1>'+data.error.message+'</h1></section>');
                      }
                   },
                    error:function(){
                      $("#tracktorResponseContainer").html('<section id="tracktorOrderDetails" class="header-inactive"> <h1>1232</h1></section>');
                    }
                  });
                }
            });
        });
    </script>
{% schema %}
  {
    "name": "page-track",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}