<div id="tracktorContainer">
    <form id="tracktorOrderForm">
        <h1><span>Track Your Order</span></h1>
        <div class="field"><label for="tracktorOrderName"><span>Order Number</span></label><input required="" aria-required="true" id="tracktorOrderName" type="text" name="order"></div>
        <div class="field"><label for="tracktorOrderEmail"><span>Email</span></label><input required="" aria-required="true" id="tracktorOrderEmail" type="text" name="userEmail"></div>
        <button id="tracktorTrack" class="button-enter btn styled-submit button"><span>Track</span></button>
    </form>
    <section id="tracktorResponseContainer" class=""><section id="tracktorOrderDetails" class="header-inactive"><h1>Could not find order</h1></section></section>
    </div>

{% schema %}
  {
    "name": "page-track",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}